<sitecore>
	<contentSearch>
		<indexConfigurations>
			<indexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
				<configuration>
					<fields hint="raw:AddComputedIndexField">
						<field fieldName="Id" type="Sitecore.ContentSearch.ComputedFields.ComputedField, Sitecore.ContentSearch" method="GetField">
							<args>Id</args>
						</field>
						<field fieldName="Title" type="Sitecore.ContentSearch.ComputedFields.ComputedField, Sitecore.ContentSearch" method="GetField">
							<args>Title</args>
						</field>
						<field fieldName="Description" type="Sitecore.ContentSearch.ComputedFields.ComputedField, Sitecore.ContentSearch" method="GetField">
							<args>Description</args>
						</field>
						<field fieldName="Category" type="Sitecore.ContentSearch.ComputedFields.ComputedField, Sitecore.ContentSearch" method="GetField">
							<args>Category</args>
						</field>
						<field fieldName="Price" type="Sitecore.ContentSearch.ComputedFields.ComputedField, Sitecore.ContentSearch" method="GetField">
							<args>Price</args>
						</field>
						<field fieldName="DiscountPercentage" type="Sitecore.ContentSearch.ComputedFields.ComputedField, Sitecore.ContentSearch" method="GetField">
							<args>DiscountPercentage</args>
						</field>
						<field fieldName="Rating" type="Sitecore.ContentSearch.ComputedFields.ComputedField, Sitecore.ContentSearch" method="GetField">
							<args>Rating</args>
						</field>
						<field fieldName="Stock" type="Sitecore.ContentSearch.ComputedFields.ComputedField, Sitecore.ContentSearch" method="GetField">
							<args>Stock</args>
						</field>
						<field fieldName="Brand" type="Sitecore.ContentSearch.ComputedFields.ComputedField, Sitecore.ContentSearch" method="GetField">
							<args>Brand</args>
						</field>
						<field fieldName="Tags" type="Sitecore.ContentSearch.ComputedFields.ComputedField, Sitecore.ContentSearch" method="GetField">
							<args>Tags</args>
						</field>
						<field fieldName="Images" type="Sitecore.ContentSearch.ComputedFields.ComputedField, Sitecore.ContentSearch" method="GetField">
							<args>Images</args>
						</field>
					</fields>
				</configuration>
			</indexConfiguration>
		</indexConfigurations>
	</contentSearch>
</sitecore>
